# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-server/
build/

# Capacitor
android/build/
android/app/build/
# Gradle files
android/gradle/
android/*.gradle
android/gradle*
android/app/*.gradle
android/app/src/main/res/xml/
android/app/src/main/res/values/
android/app/src/test/
android/app/src/AndroidTest/
android/.gitignore
android/app/.gitignore


ios/
.capacitor/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
.cache/
.temp/
.tmp/

# Personal Gemini API key file
src/ai-key.ts
