@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-autocontrast";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-bg: var(--neutral-50);
  --color-fg: var(--neutral-950);
  --color-card: var(--neutral-100);
  --color-info: var(--info-500);
  --color-muted: var(--neutral-200);
  --color-accent: var(--accent-400);
  --color-border: var(--neutral-300);
  --color-danger: var(--danger-500);
  --color-fg-info: var(--info-700);
  --color-inverse: var(--neutral-950);
  --color-neutral: var(--neutral-200);
  --color-popover: var(--neutral-100);
  --color-primary: var(--accent-400);
  --color-success: var(--success-500);
  --color-warning: var(--warning-500);
  --color-disabled: var(--neutral-200);
  --color-fg-muted: var(--neutral-800);
  --color-fg-accent: var(--accent-700);
  --color-fg-danger: var(--danger-700);
  --color-fg-inverse: var(--neutral-50);
  --color-fg-on-info: var(--on-info-500);
  --color-fg-success: var(--success-700);
  --color-fg-warning: var(--warning-700);
  --color-info-hover: var(--info-600);
  --color-info-muted: var(--info-50);
  --color-border-info: var(--info-300);
  --color-fg-disabled: var(--neutral-500);
  --color-info-active: var(--info-700);
  --color-accent-hover: var(--accent-500);
  --color-accent-muted: var(--accent-50);
  --color-border-field: var(--neutral-400);
  --color-border-focus: var(--accent-500);
  --color-border-hover: var(--neutral-400);
  --color-danger-hover: var(--danger-600);
  --color-danger-muted: var(--danger-50);
  --color-fg-on-accent: var(--on-accent-500);
  --color-fg-on-danger: var(--on-danger-500);
  --color-accent-active: var(--accent-600);
  --color-border-accent: var(--accent-300);
  --color-border-danger: var(--danger-300);
  --color-danger-active: var(--danger-700);
  --color-fg-on-neutral: var(--on-neutral-200);
  --color-fg-on-primary: var(--on-accent-500);
  --color-fg-on-success: var(--on-success-500);
  --color-fg-on-warning: var(--on-warning-500);
  --color-neutral-hover: var(--neutral-300);
  --color-primary-hover: var(--accent-500);
  --color-primary-muted: var(--accent-200);
  --color-success-hover: var(--success-600);
  --color-success-muted: var(--success-50);
  --color-warning-hover: var(--warning-600);
  --color-warning-muted: var(--warning-50);
  --color-border-control: var(--neutral-700);
  --color-border-success: var(--success-300);
  --color-border-warning: var(--warning-300);
  --color-neutral-active: var(--neutral-400);
  --color-primary-active: var(--accent-600);
  --color-success-active: var(--success-700);
  --color-warning-active: var(--warning-700);
  --color-border-disabled: var(--neutral-300);
  --color-accent-muted-hover: var(--accent-100);
  --color-border-focus-muted: var(--accent-300);
  --radius-xs: calc(0.125rem * var(--radius-factor));
  --radius-sm: calc(0.25rem * var(--radius-factor));
  --radius-md: calc(0.375rem * var(--radius-factor));
  --radius-lg: calc(0.5rem * var(--radius-factor));
  --radius-xl: calc(0.75rem * var(--radius-factor));
  --radius-2xl: calc(1rem * var(--radius-factor));
  --radius-3xl: calc(1.5rem * var(--radius-factor));
  --radius-4xl: calc(2rem * var(--radius-factor));
  --spacing: 0.25em;
  --color-warning-950: var(--warning-950);
  --color-warning-900: var(--warning-900);
  --color-warning-800: var(--warning-800);
  --color-warning-700: var(--warning-700);
  --color-warning-600: var(--warning-600);
  --color-warning-500: var(--warning-500);
  --color-warning-400: var(--warning-400);
  --color-warning-300: var(--warning-300);
  --color-warning-200: var(--warning-200);
  --color-warning-100: var(--warning-100);
  --color-warning-50: var(--warning-50);
  --color-success-950: var(--success-950);
  --color-success-900: var(--success-900);
  --color-success-800: var(--success-800);
  --color-success-700: var(--success-700);
  --color-success-600: var(--success-600);
  --color-success-500: var(--success-500);
  --color-success-400: var(--success-400);
  --color-success-300: var(--success-300);
  --color-success-200: var(--success-200);
  --color-success-100: var(--success-100);
  --color-success-50: var(--success-50);
  --color-neutral-950: var(--neutral-950);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-50: var(--neutral-50);
  --color-danger-950: var(--danger-950);
  --color-danger-900: var(--danger-900);
  --color-danger-800: var(--danger-800);
  --color-danger-700: var(--danger-700);
  --color-danger-600: var(--danger-600);
  --color-danger-500: var(--danger-500);
  --color-danger-400: var(--danger-400);
  --color-danger-300: var(--danger-300);
  --color-danger-200: var(--danger-200);
  --color-danger-100: var(--danger-100);
  --color-danger-50: var(--danger-50);
  --color-accent-950: var(--accent-950);
  --color-accent-900: var(--accent-900);
  --color-accent-800: var(--accent-800);
  --color-accent-700: var(--accent-700);
  --color-accent-600: var(--accent-600);
  --color-accent-500: var(--accent-500);
  --color-accent-400: var(--accent-400);
  --color-accent-300: var(--accent-300);
  --color-accent-200: var(--accent-200);
  --color-accent-100: var(--accent-100);
  --color-accent-50: var(--accent-50);
  --color-info-950: var(--info-950);
  --color-info-900: var(--info-900);
  --color-info-800: var(--info-800);
  --color-info-700: var(--info-700);
  --color-info-600: var(--info-600);
  --color-info-500: var(--info-500);
  --color-info-400: var(--info-400);
  --color-info-300: var(--info-300);
  --color-info-200: var(--info-200);
  --color-info-100: var(--info-100);
  --color-info-50: var(--info-50);
  --radius-factor: var(--radius-factor);
}

:root {
  --radius-factor: 0.9;
  --info-50: oklch(0.273 0.072 246.955);
  --info-100: oklch(0.297 0.079 247.373);
  --info-200: oklch(0.326 0.089 248.511);
  --info-300: oklch(0.372 0.103 249.314);
  --info-400: oklch(0.425 0.121 250.131);
  --info-500: oklch(0.504 0.145 250.613);
  --info-600: oklch(0.604 0.177 251.2);
  --info-700: oklch(0.673 0.181 249.277);
  --info-800: oklch(0.743 0.143 244.438);
  --info-900: oklch(0.881 0.064 241.478);
  --info-950: oklch(0.928 0.038 242.12);
  --accent-50: oklch(0.285 0.103 1.056);
  --accent-100: oklch(0.31 0.114 0.958);
  --accent-200: oklch(0.342 0.127 1.472);
  --accent-300: oklch(0.391 0.144 1.36);
  --accent-400: oklch(0.442 0.137 357.737);
  --accent-500: oklch(0.518 0.118 354.745);
  --accent-600: oklch(0.616 0.093 352.662);
  --accent-700: oklch(0.682 0.074 351.398);
  --accent-800: oklch(0.754 0.057 350.228);
  --accent-900: oklch(0.886 0.025 348.573);
  --accent-950: oklch(0.933 0.015 350.105);
  --danger-50: oklch(0.285 0.091 23.361);
  --danger-100: oklch(0.308 0.1 23.107);
  --danger-200: oklch(0.338 0.112 23.649);
  --danger-300: oklch(0.387 0.13 23.79);
  --danger-400: oklch(0.442 0.152 24.415);
  --danger-500: oklch(0.525 0.183 24.733);
  --danger-600: oklch(0.625 0.179 22.008);
  --danger-700: oklch(0.691 0.141 19.281);
  --danger-800: oklch(0.759 0.105 17.6);
  --danger-900: oklch(0.888 0.044 14.522);
  --danger-950: oklch(0.933 0.026 14.751);
  --neutral-50: oklch(0.184 0.013 307.683);
  --neutral-100: oklch(0.245 0.02 307.555);
  --neutral-200: oklch(0.274 0.019 307.673);
  --neutral-300: oklch(0.359 0.015 308.011);
  --neutral-400: oklch(0.423 0.014 308.094);
  --neutral-500: oklch(0.505 0.012 305.235);
  --neutral-600: oklch(0.603 0.008 304.159);
  --neutral-700: oklch(0.674 0.008 312.269);
  --neutral-800: oklch(0.746 0.004 301.398);
  --neutral-900: oklch(0.884 0.003 308.424);
  --neutral-950: oklch(0.929 0.003 308.426);
  --success-50: oklch(0.266 0.067 147.767);
  --success-100: oklch(0.29 0.075 147.807);
  --success-200: oklch(0.317 0.083 147.425);
  --success-300: oklch(0.36 0.096 147.264);
  --success-400: oklch(0.414 0.114 146.874);
  --success-500: oklch(0.487 0.136 146.911);
  --success-600: oklch(0.587 0.164 146.851);
  --success-700: oklch(0.659 0.139 149.302);
  --success-800: oklch(0.732 0.11 150.711);
  --success-900: oklch(0.878 0.05 152.333);
  --success-950: oklch(0.924 0.029 153.33);
  --warning-50: oklch(0.274 0.052 79.295);
  --warning-100: oklch(0.296 0.057 78.877);
  --warning-200: oklch(0.327 0.063 78.414);
  --warning-300: oklch(0.375 0.074 76.758);
  --warning-400: oklch(0.428 0.085 77.006);
  --warning-500: oklch(0.506 0.103 74.871);
  --warning-600: oklch(0.609 0.125 74.824);
  --warning-700: oklch(0.679 0.14 74.467);
  --warning-800: oklch(0.752 0.154 74.777);
  --warning-900: oklch(0.884 0.084 81.713);
  --warning-950: oklch(0.929 0.051 81.649);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    border-color: var(--color-border);
  }
  body {
    @apply bg-background text-foreground;
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}